// Keybindings 
// https://github.com/niri-wm/niri/wiki

binds {

         // Applications
         Alt+T                                                      { spawn "foot"; }
         Alt+Space                                                  { spawn "nc" "-U" "/run/user/1000/walker/walker.sock"; }
         Mod+F1                                                     { spawn "swaync-client" "-t" "-sw"; }
         Mod+F2                                                     { spawn "swaync-client" "-d" "-sw"; }
         Mod+F3                                                     { spawn-sh "notify-send -a \"Clock\" -t 3000 \"$(date +'%H:%M')\n$(date +'%d %b')\""; }
         Alt+F1                                                     { spawn "librewolf"; }
         Alt+F2                                                     { spawn "lutris"; }
         Alt+F3                                                     { spawn "Telegram"; }
         Alt+F4                                                     { spawn "steam"; }
         Alt+F5                                                     { spawn "fluffychat"; }
         Alt+F6                                                     { spawn "~/scripts/niri-lock.sh"; }
         Mod+L                                                      { spawn "~/scripts/touchpad.sh"; }
         Mod+Alt+L                                                  { spawn "sh" "-c" "QML2_IMPORT_PATH=/run/current-system/sw/lib/qt-6/qml /etc/sddm/themes/qylock/quickshell-lockscreen/lock.sh \"$(cat /tmp/current_sddm_theme)\""; }
 

         Mod+E {spawn "nautilus"; }

         Mod+P {spawn "pavucontrol"; } // Just dark pavucontrol

         // Media Controls 
         XF86AudioRaiseVolume                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "2%+"; }
         XF86AudioLowerVolume                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "2%-"; }
         XF86AudioMute                       allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

         // Brightness Controls
         XF86MonBrightnessUp                 allow-when-locked=true { spawn "brightnessctl" "set" "1%+"; }
         XF86MonBrightnessDown               allow-when-locked=true { spawn "brightnessctl" "set" "1%-"; }

         // Window controls 
         Mod+Q { close-window; }

         Alt+A                                                      { focus-column-left; }
         Alt+S                                                      { focus-column-right; }
         Alt+Z                                                      { focus-workspace-down; }
         Alt+X                                                      { focus-workspace-up; }

         Alt+Shift+A                                                { move-column-left; }
         Alt+Shift+S                                                { move-column-right; }
         Alt+Shift+Z                                                { move-window-down-or-to-workspace-down; }
         Alt+Shift+X                                                { move-window-up-or-to-workspace-up; }

         // Control Workspaces from numbers 
         Alt+1                                                      { focus-workspace 2; }
         Alt+2                                                      { focus-workspace 3; }
         Alt+3                                                      { focus-workspace 4; }
         Alt+4                                                      { focus-workspace 5; }
         Alt+5                                                      { focus-workspace 6; }
         Alt+6                                                      { focus-workspace 7; }
         Alt+7                                                      { focus-workspace 8; }
         Alt+8                                                      { focus-workspace 9; }
         Alt+9                                                      { focus-workspace 10;}

         Alt+Shift+1                                                { move-column-to-workspace 2; }
         Alt+Shift+2                                                { move-column-to-workspace 3; }
         Alt+Shift+3                                                { move-column-to-workspace 4; }
         Alt+Shift+4                                                { move-column-to-workspace 5; }
         Alt+Shift+5                                                { move-column-to-workspace 6; }
         Alt+Shift+6                                                { move-column-to-workspace 7; }
         Alt+Shift+7                                                { move-column-to-workspace 8; }
         Alt+Shift+8                                                { move-column-to-workspace 9; }
         Alt+Shift+9                                                { move-column-to-workspace 10;}
         // Other 
         Mod+Tab                                                    { focus-workspace-previous; }

         Alt+Ctrl+S                                                 { set-column-width "-10%"; }
         Alt+Ctrl+Z                                                 { set-window-height "-10%"; }
         Alt+Ctrl+A                                                 { set-column-width "+10%"; }
         Alt+Ctrl+X                                                 { set-window-height "+10%"; }
         Alt+P                                                      { spawn "wtype" "💜"; }

         // Modes
         Mod+T                                                      { toggle-window-floating; }
         Mod+R                                                      { switch-preset-column-width; }
         Mod+F                                                      { maximize-column; }
         Mod+Shift+F                                                { fullscreen-window; }
         Mod+Alt+F                                                  { toggle-windowed-fullscreen; }

         // Screenshots

         Mod+Z                                                      { screenshot; }
         Shift+Mod+Z                                                { screenshot-window; }

         // Panic
         Mod+Escape                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

         // Power 
         Ctrl+Alt+Delete                                            { quit; } // Quit session
         Mod+Shift+X                                                { power-off-monitors; } // to watch obscenities 
}
