    layout {
        gaps 16 
        center-focused-column "never" 
         empty-workspace-above-first

        background-color "transparent" 
	    always-center-single-column

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
        struts {}
    }
