    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
        draw-border-with-background false
        background-effect {
            blur true
            xray true
            noise 0.03
            saturation 1.2
        }
    }
    window-rule {
        match is-active=false
        opacity 0.80
    }
    window-rule {
        match is-active=true
        opacity 0.80
    }
    window-rule {
        match app-id="pavucontrol"
        open-floating true
        opacity 0.96

    }
    window-rule {
        match app-id="imv"
        open-floating true 
        opacity 1.00
    }
    window-rule {
        match app-id="fluxer_app"
        default-column-width { proportion 0.7; }
    }
    window-rule {
        match app-id="walker";
        open-floating true
        opacity 0.75
        min-width 600
        max-width 640
        min-height 570
        max-height 800
        geometry-corner-radius 22
        clip-to-geometry true
        background-effect {
            blur true
            xray false
            noise 0.02
            saturation 1.2
        }
    }
    window-rule {
        match app-id="scrcpy";
        open-floating true
    }
    layer-rule {
        match namespace="swaync-control-center"
        opacity 0.80
        geometry-corner-radius 22
        background-effect {
            blur true
            xray false
            noise 0.02
            saturation 1.2
        }
    }
