{{- if .personal -}}

#--------------------------------------------------
# CHEZMOI GITHUB TOKEN
#--------------------------------------------------
if not set -q CHEZMOI_GITHUB_ACCESS_TOKEN
    set -gx CHEZMOI_GITHUB_ACCESS_TOKEN {{ (rbwFields "github").CHEZMOI_GITHUB_ACCESS_TOKEN.value }}
end

{{- end -}}
